/*
 * Abstractions like variables, mixins, etc...
 */
/* 
 * Wrapper 
 */
/* 
 * Media Queries 
 */
/* 
 * Font weights 
 */
/*
 * Colors
 */
/* 
 * http://easings.net/nl 
 */
/* = Triangles
 *Ex: @include triangle(up, size, color);
 */
/*
 * Third party styles (sliders, lightbox, dropdown)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*
 * Base styles (typography, grids, global styles, etc..)
 */
/**
 * @_boxmodel.css
 * The CSS box model is essentially a box that wraps around HTML elements,
 * and it consists of: margins, borders, padding, and the actual content.
 */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.wrapper {
  max-width: 700px;
  margin: 0 auto; }
  @media (max-width: 780px) {
    .wrapper {
      padding-left: 4rem;
      padding-right: 4rem;
      max-width: 100%; } }

.wrapper--big {
  max-width: 950px;
  margin: 0 auto; }

/*
 * Sets the base font to 10px for easier math
 */
html {
  font-size: 62.5%; }

/*
 * Sets the default sizing to make sure nothing is actually 10px
 */
body {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  color: #313131;
  /*
   * Force Anti-aliasing
   */
  -webkit-font-smoothing: antialiased; }

/*
 * Voodoo to enable ligatures and kerning
 */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  text-rendering: optimizeLegibility; }

p {
  line-height: 1.7; }

strong {
  font-weight: 600; }

/*
 * Components styles (specific reusable module styles)
 */
h1 {
  background-color: #FFF;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  font-weight: 700;
  color: #068df6;
  padding: 2rem 4rem;
  display: inline-block;
  margin: 0;
  margin-left: -4rem;
  font-size: 2.6rem; }
  @media (max-width: 650px) {
    h1 {
      margin-left: 0; } }

.github {
  color: #313131;
  font-size: 1.6rem; }
  .github svg {
    vertical-align: middle;
    margin-right: 1.5rem; }
  .github:hover {
    color: #068df6; }

nav {
  background-color: black;
  margin: 7rem 0;
  padding: 0 4rem;
  min-width: 200px;
  position: relative;
  white-space: nowrap;
  max-width: 950px; }
  nav ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0; }
  nav li {
    display: inline-block; }
    nav li:first-child a {
      padding-left: 0; }
  nav a {
    color: white;
    display: inline-block;
    padding: 4rem 2rem;
    font-weight: 700; }
  nav .knob {
    cursor: ew-resize;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(50%);
        -ms-transform: translateY(-50%) translateX(50%);
            transform: translateY(-50%) translateX(50%); }
    @media (max-width: 1000px) {
      nav .knob {
        display: none; } }

.nav__dropdown {
  padding: 2rem;
  white-space: nowrap;
  top: 80%;
  right: 0;
  background-color: #068df6;
  transition: 300ms cubic-bezier(0.25, 2, 0.25, 1);
  -webkit-transform-origin: center top;
      -ms-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: rotateX(-30deg);
          transform: rotateX(-30deg);
  opacity: 0; }
  .nav__dropdown.show {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    opacity: 1;
    visibility: visible;
    box-shadow: 0 0 20px 0 rgba(49, 49, 49, 0.25);
    transition: 300ms cubic-bezier(0.25, 2, 0.25, 1), box-shadow 1000ms cubic-bezier(0.25, 2, 0.25, 1); }
  @media (max-width: 650px) {
    .nav__dropdown {
      right: auto;
      left: 0; }
      .nav__dropdown:after {
        right: auto;
        left: 4rem; } }
  .nav__dropdown:after {
    content: '';
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 6px solid #068df6;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    top: -6px;
    right: 4rem; }
  .nav__dropdown-wrapper {
    display: inline-block;
    -webkit-perspective: 500px;
            perspective: 500px; }
    @media (max-width: 650px) {
      .nav__dropdown-wrapper {
        position: static !important; } }
  .nav__dropdown-toggle {
    outline: none;
    display: inline-block;
    border: none;
    background: none;
    font-weight: 700;
    text-decoration: underline;
    color: white;
    padding: 4rem 2rem;
    background-image: url("./../images/dist/svg/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: 100% center; }
  .nav__dropdown li {
    display: block; }
    .nav__dropdown li:first-child a {
      padding-left: 2rem; }
  .nav__dropdown a {
    display: inline-block;
    padding: .5rem 2rem;
    font-weight: 400;
    font-size: 1.6rem; }

.social {
  min-height: 25px; }
  .social a {
    display: none; }
  .social iframe {
    margin-right: 1rem; }

/*
 * Layout styles (header, footer, sidebar, etc..)
 */
header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 6rem 0 0; }
  @media (max-width: 650px) {
    header {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  header .github {
    margin-left: auto; }
    @media (max-width: 650px) {
      header .github {
        margin-left: 0;
        margin-top: 2rem; } }

/*
 * Page specific styles
 */
html, body {
  height: 100%; }

p a {
  color: #068df6; }
  p a:visited {
    color: #4eaffb; }

.heading {
  margin: 6rem 0;
  margin-bottom: 2rem;
  font-size: 2.6rem;
  font-weight: 300;
  line-height: 1.4; }

.bottom {
  padding-bottom: 6rem; }

.bg {
  background-color: #FFF;
  background-image: linear-gradient(to top, #F3F3F3 0%, #FFF 100%);
  background-repeat: no-repeat; }

/*
 * Hacks & Dirty shit :)
 */
/*# sourceMappingURL=main.css.map */