/* 
 * Wrapper 
 */
$wrapper: 700px;
$wrapper--big: 950px;

/* 
 * Media Queries 
 */
$largedesktop: 1300px;
$desktop: 1100px;
$tablet: 960px;
$small-tablet: 860px;
$smartphone-landscape: 650px;
$smartphone: 360px;

/* 
 * Font weights 
 */
$bold: 700;
$semi: 600;
$normal: 400;
$light: 300;

/*
 * Colors
 */
$blue: #068df6;
$black: #313131;
$lightgrey: #f3f3f3;