h1{
  background-color: #FFF;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  font-weight: $bold;
  color: $blue;
  padding: 2rem 4rem;
  display: inline-block;
  margin: 0;
  margin-left: -4rem;
  font-size: 2.6rem;

  @media (max-width: $smartphone-landscape) {
    margin-left: 0;
  }
}